@font-face {
    font-family: "Inria Sans";
    src: url(./font/InriaSans-Regular.ttf);
}
@font-face {
    font-family: "Inria Sans";
    src: url(./font/InriaSans-Bold.ttf);
    font-weight: bold;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
    /* font-size: 62.5%; */
    font-family: "Inria Sans", sans-serif;
    color: var(--color-brown-700);
    font-weight: 400;
}

/* variáveis aqui globais aqui */
:root{
    --color-brown-700:#4A1F08;
    --color-brown-900:#2D1305;

    --color-yellow-300:#FFC700;
    --color-yellow-500:#FED774;

    --color-blue-500:#24A9E1;

    --color-white-100:#FFFFFF;
    
    --horizontal-padding: calc((100vw - 1200px) / 2);
    --nav-height:90px;
    --footer-height:160px;

    --font-text: 1.5rem;
    --font-h1:2.25rem;
}

/* vv  padding da área útil  vv */
.horizontal_padding{
    padding-left: var(--horizontal-padding);
    padding-right: var(--horizontal-padding);
}

/* espaço para fazer a responsividade */



/* vvv  NAV + NAVBAR    vvv */
.nav {
    background-color: var(--color-white-100);
    height: var(--nav-height);
    width: 100%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    
}


.nav__img-name{
    color: var(--color-brown-700);
    text-decoration: none;
    
    font-size: var(--font-h1);
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.nav__img {
    height: 78px;  
}

.nav__logo{
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
}

.nav__bar{
    display: flex;
    width: fit-content;
    height: fit-content;
    gap: 65px;
}

.nav__link{
    color: var(--color-brown-700);
    text-decoration: none;

    font-size: var(--font-text);
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);    
}




/* vv   FOOTER  vv */
footer{
    margin-top: var(--nav-height);
    

    display: flex;
    flex-direction: column;
    gap: 0px;

    background-color: var(--color-yellow-500);
    height: var(--footer-height);
}

/* classe para a parte superior do footer (logo + redes + links) */
.footer__sup-row{
    margin-top: 45px;

    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: fit-content;
    justify-content: space-between;


    align-items: center;
    padding: 0px;

}

.footer__img{
    height: 82px;
    width: 92px;
    justify-self: start;
}
.footer__icon{
    height: 35px;
}

.footer__hr{
    width: 65%;
    border: 1px solid var(--color-brown-700);    
}

.footer__text{
    font-size: var(--font-text);
    justify-self: end;
}

.footer__links{
    align-items: center;
    justify-self: center;
}

.footer__inf-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
